/.venv
/__pycache__
/anal_cancer_patient_data
/gsea_gene_set
/hnc_data
/.claude
/hnc_consensus_outputs_k4-20/local_run/cnmf_tmp
/hnc_consensus_outputs_k4-20/local_run/filtered_data/local_run_hvg_union.h5adhnc_combined5000hvg_clanp_results/gpn_results_per_gep/gpn_states.tsv
